.App {
  text-align: center;
  visibility: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  color: white;
}


.circle {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background-color: #fdcf51;
  margin: 50px;
}
.circle-container {
  display: flex;
  flex-flow: row wrap;
}

.circle.red {
background-color: #FD5151;
}

.circle.blue {
background-color: #51ADFD;
}